 <!-- *==================================================
 * File:    restaurants.html
 * Author:  Matthew Christensen
 * Date:    Winter 2018

 * Description: HTML code for restaurants page of DinnerAndAMovie -->

{% extends "base.html" %}
{% load staticfiles %}

{% block resources %}
<script src="{% static '/homepage/results.js' %}"></script>
<link href="{% static '/homepage/results.css' %}" rel="stylesheet" type="text/css">
{% endblock resources %}

{% block content %}
<div class="row">
    <div class="col-md-5" id="businesses">
        <div id="selected-bus"></div>
        <ul class="collapsible" id="business_list" data-length="{{businesses|length}}">
            {% for business in businesses %}
            <li id="business-{{forloop.counter}}" data-lat="{{business.coordinates.latitude}}" data-lon="{{business.coordinates.longitude}}" data-name="{{business.name}}">
                <div class="collapsible-header valign-wrapper" id="header-{{forloop.counter}}">
                    <!-- <i class="material-icons">place</i> -->
                    <img src="{{business.image_url}}" alt="" class="circle bus_image">
                    <span class="bus-name">{{business.name}}</span>
                    <span class="new badge" data-badge-caption="">{{business.rating}} stars</span>
                    <a href="#"><img src="{% static '/homepage/stars/gray-star.png' %}" class="star" data-type="restaurant" id="star-{{forloop.counter}}" data-gray_star="{% static '/homepage/stars/gray-star.png' %}" data-full_star="{% static '/homepage/stars/full-star.png' %}" data-full="0" data-yelp_id="{{business.id}}" data-address="{{business.location.address1}}" data-phone="{{business.phone}}" data-rating="{{business.rating}}" data-name="{{business.name}}" data-image="{{business.image_url}}" data-src="{% static '/homepage/stars/gray-star.png' %}" /></a>
                </div>
                <div class="collapsible-body">
                    <p>{{business.location.address1}}</p>
                    <p id="bus-phone-{{forloop.counter}}">{{business.phone}}</p>
                    <p>Rating: {{business.rating}}</p>
                    <a class="waves-effect waves-light btn" href="{{business.url}}" target="_blank">Yelp Page</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-7 text-center">
        <div id="map"></div>
    </div>
</div>
<script>
dinnermovie.checkUserState(dinnermovie.userStateCallback);
function initMap () {
    dinnermovie.initMap();
}
$(document).ready(function(){
    $('.collapsible').collapsible();
});
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuPLtrF4MskjIwthQz0jITvbY3gt3kOH0&callback=initMap">
</script>
{% endblock content %}
