{% extends "base.html" %}
{% load staticfiles %}

{% block resources %}
<link href="{% static '/homepage/results.css' %}" rel="stylesheet" type="text/css">
{% endblock resources %}

{% block content %}
<div class="row">
    <div class="" id="businesses">
        <div id="selected-bus"></div>
        <ul class="collapsible" id="business_list" data-length="{{businesses|length}}">
            {% for business in businesses %}
            <li id="business-{{forloop.counter}}" data-lat="{{business.coordinates.latitude}}" data-lon="{{business.coordinates.longitude}}" data-name="{{business.name}}">
                <div class="collapsible-header valign-wrapper" id="header-{{forloop.counter}}">
                    <!-- <i class="material-icons">place</i> -->
                    <i class="material-icons">place</i>
                    <span class="bus-name">{{business.name}}</span>
                    <span class="new badge" data-badge-caption="">{{business.distance}} miles</span>
                    <a href="#"><img src="{% static '/homepage/stars/gray-star.png' %}" class="star" data-type="theater" id="star-{{forloop.counter}}" data-gray_star="{% static '/homepage/stars/gray-star.png' %}" data-full_star="{% static '/homepage/stars/full-star.png' %}" data-full="0" data-yelp_id="{{business.id}}" data-address="{{business.location.address1}}" data-phone="{{business.phone}}" data-rating="{{business.rating}}" data-name="{{business.name}}" data-image="{{business.image_url}}" data-src="{% static '/homepage/stars/gray-star.png' %}" /></a>
                </div>
                <div class="collapsible-body">
                    <p>{{business.location.address1}}</p>
                    <p id="bus-phone-{{forloop.counter}}">{{business.phone}}</p>
                    <p>Rating: {{business.rating}}</p>
                    <a class="waves-effect waves-light btn" href="/restuarants/{{business.coordinates.latitude}}/{{business.coordinates.longitude}}" target="_blank">View Restaurants</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="text-center" id="mymap">
        <div id="map"></div>
    </div>
</div>
<script>
dinnermovie.checkUserState(dinnermovie.userStateCallback);
function initMap () {
    dinnermovie.initMap();
}
$(document).ready(function(){
    $('.collapsible').collapsible();
});
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuPLtrF4MskjIwthQz0jITvbY3gt3kOH0&callback=initMap">
</script>
{% endblock content %}
